<div  class="theme-container">
    
    <div class="title">title</div>
    <div class="searchFiler">
        <mat-card class="filter-card">
            <mat-card-title>Filtres avancés</mat-card-title>
          

            <div *ngFor="let filter of filters; let i = index" class="filter-row">

              <mat-form-field appearance="fill">
                <mat-label>Champ</mat-label>
                <mat-select [(ngModel)]="filter.field">
                  <mat-option *ngFor="let field of availableFields" [value]="field.value">
                    {{ field.label }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
          
              <mat-form-field appearance="fill">
                <mat-label>Opérateur</mat-label>
                <mat-select [(ngModel)]="filter.operator" (selectionChange)="onOperatorChange(filter)">
                  <mat-option value="equals">Égale</mat-option>
                  <mat-option value="contains">Contient</mat-option>
                  <mat-option *ngIf="filter.field === 'visit_date'" value="between">Entre</mat-option>
                  <mat-option *ngIf="filter.field === 'birthDate'" value="between">Entre</mat-option>
                  <mat-option *ngIf="filter.field === 'createdAt'" value="between">Entre</mat-option>
                </mat-select>
              </mat-form-field>
          
              <!-- Value Input(s) -->
              <ng-container [ngSwitch]="filter.operator">
                <mat-form-field *ngSwitchCase="'between'" appearance="fill">
                  <input matInput [(ngModel)]="filter.value.start_date" type="date" placeholder="Début">
                </mat-form-field>
                <mat-form-field *ngSwitchCase="'between'" appearance="fill">
                  <input matInput [(ngModel)]="filter.value.end_date" type="date" placeholder="Fin">
                </mat-form-field>
          
                <mat-form-field *ngSwitchDefault appearance="fill">
                  <input matInput [(ngModel)]="filter.value" placeholder="Valeur">
                </mat-form-field>
              </ng-container>
          
              <button mat-icon-button color="warn" (click)="removeFilter(i)">
                <mat-icon>remove_circle</mat-icon>
              </button>
            </div>
          
            <div class="filter-buttons">
                <button mat-button color="primary" (click)="addFilter()">
                    <mat-icon>add</mat-icon> Ajouter un filtre
                </button>
            
                <button mat-raised-button color="accent" (click)="applyFilters()">Rechercher</button>
                <button mat-raised-button (click)="resetFilters()">Réinitialiser</button>
            </div>
  
        </mat-card>
    </div>
    <div class="scrollable">
            <button mat-raised-button  color="primary" class="add-product-btn" (click)="openAddPatientDialog()" aria-label="Add Product">
                <mat-icon>add</mat-icon>
                    Ajouter Patient
            </button> 
        <div class="mat-elevation-z2 ">
            <table mat-table  class="full-width-table medical-record-table" [dataSource]="listPatient" multiTemplateDataRows matSort aria-label="Categories" >
            
                 <!-- Dynamic Columns -->
                <ng-container *ngFor="let column of displayedPatientColumns" [matColumnDef]="column">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header  class="patient-header"   >
                    {{ columnLabels[column] || (column | titlecase) }}
                  </th>
                    <td mat-cell *matCellDef="let patient">

                    <ng-container [ngSwitch]="column">
                        
                        <span *ngSwitchCase="patient">
                          <button mat-icon-button *ngIf="expandedPatientElement() !== column"
                                  (click)="expandedPatientElement.set(column)">
                            <mat-icon>keyboard_arrow_down</mat-icon>
                          </button>

                          <button mat-icon-button *ngIf="expandedPatientElement() === column"
                                  (click)="expandedPatientElement.set(undefined)">
                            <mat-icon>keyboard_arrow_up</mat-icon>
                          </button>
                        </span>


                        <span *ngSwitchCase="'id'">
                        {{patient.id}}
                        </span>

                        <span *ngSwitchCase="'lastName'">
                        {{patient.lastName}}
                        </span>

                        <span *ngSwitchCase="'firstName'">
                        {{patient.firstName}}
                        </span>

                        <span *ngSwitchCase="'cni'">
                        {{patient.cni}}
                        </span>

                        <span *ngSwitchCase="'cree par'">
                        {{patient.createdBy.username}}
                        </span>

                        <span *ngSwitchCase="'actions'">
                            <button mat-icon-button color="primary" (click)="goToDetails(patient.id)">
                              <mat-icon>visibility</mat-icon>
                            </button>
                            <button mat-icon-button (click)="openUpdatePatientDialog($event,patient.id)" color="accent" >
                              <mat-icon>edit</mat-icon>
                            </button>
                            <button mat-icon-button color="warn">
                              <mat-icon>delete</mat-icon>
                            </button>
                            <button mat-icon-button (click)="togglePatientVisibility(patient)">
                              <mat-icon>
                                {{ isPatientVisible(patient) ? 'visibility_off' : 'visibility' }}
                              </mat-icon>
                            </button>
                        </span>
                    </ng-container>
                    </td>
                </ng-container>
                      
                <!-- Appointments -->
                <ng-container matColumnDef="detailsAppointment">
                  <td mat-cell [attr.colspan]="medicalRecordColSpan" *matCellDef="let patient">
                    <div *ngIf="patient.appointments?.length">
                      <table mat-table class="full-width-table appointment-table" [dataSource]="getAllAppointments(patient)" *ngIf="patient.appointments?.length">

                        <!-- Dynamic columns using *ngFor -->
                        <ng-container *ngFor="let column of displayedAppointmentColumns" [matColumnDef]="column">
                          <th mat-header-cell *matHeaderCellDef>
                            <ng-container *ngIf="column === 'actions'; else normalHeader">
                              <button mat-icon-button color="primary" (click)="openAppointmentDialog(patient.id)">
                                <mat-icon aria-label="Add Appointment">add</mat-icon>
                              </button>
                            </ng-container>
                            <ng-template #normalHeader>
                              {{ columnLabels[column] || column }}
                            </ng-template>
                          </th>

                          <td mat-cell *matCellDef="let appointment">
                            <ng-container *ngIf="column === 'actions'; else normalCell">
                              <button mat-icon-button color="primary" >
                                <mat-icon aria-label="View Appointment">visibility</mat-icon>
                              </button>
                              <button mat-icon-button color="accent" (click)="openUpdateAppointmentDialog($event,appointment.id)" >
                                <mat-icon aria-label="Edit Appointment">edit</mat-icon>
                              </button>
                              <button mat-icon-button color="warn" >
                                <mat-icon aria-label="Delete Appointment">delete</mat-icon>
                              </button>
                            </ng-container>
                            <ng-template #normalCell>
                              {{ appointment[column] }}
                            </ng-template>
                          </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedAppointmentColumns" class="patient-row"></tr>
                        <tr mat-row *matRowDef="let appointment; columns: displayedAppointmentColumns" ></tr>
                      </table>
                    </div>
                    <div *ngIf="!patient.appointments?.length" class="no-data-container">
                      <em>No visits recorded</em>

                            <div class="create-visit-cta">
                              <p>Do you want to create a new visit?</p>
                              <button mat-raised-button color="primary" (click)="openAppointmentDialog(patient.id)">
                                <mat-icon>add</mat-icon>
                                Creation La Raison de la rendez-vous
                              </button>
                            </div>
                    </div>

                  </td>
                </ng-container>
                <!--  Medical Records -->
                <ng-container matColumnDef="detailsMatRecord">
                  <td mat-cell [attr.colspan]="medicalRecordColSpan" *matCellDef="let patient">
                    <div class="sub-table-wrapper">
                      <table mat-table class="full-width-table medical-record-table"
                          [dataSource]="patient.medicalRecord"
                          multiTemplateDataRows
                          class="mat-elevation-z1">

                      <!-- Columns -->
                      <ng-container *ngFor="let column of displayedMedicalRecordColumns" [matColumnDef]="column">
                        <!-- normalHeader -->
                        <th mat-header-cell *matHeaderCellDef>
                          <ng-container *ngIf="column === 'actions'; else normalHeader">
                            <button mat-icon-button color="primary" (click)="openMedicalRecordDialog(patient.appointments,patient.id,$event)">
                              <mat-icon>add</mat-icon>
                            </button>
                          </ng-container>
                          <!--- sino1 -->
                          <ng-template #normalHeader>
                            {{ columnLabels[column] || column }}
                          </ng-template>
                        </th>

                        <td mat-cell *matCellDef="let record">
                          <ng-container [ngSwitch]="column">
                            <ng-container *ngSwitchCase="'actions'">



                              <ng-container *ngIf="column === 'actions'">
                                  <button mat-icon-button color="primary">
                                    <mat-icon aria-label="View Details">visibility</mat-icon>
                                  </button>
                      
                                  <button mat-icon-button color="accent" (click)="openUpdateMedicalRecord(record.id)">
                                    <mat-icon aria-label="Edit medicalRecord">edit</mat-icon>
                                  </button>
                      
                                  <button mat-icon-button color="warn">
                                    <mat-icon aria-label="Delete medicalRecord">delete</mat-icon>
                                  </button>
                              </ng-container>
                            </ng-container>

                            <ng-container *ngSwitchCase="'prescription'">
                              <button mat-icon-button color="primary" (click)="expandedRecord = expandedRecord === record ? null : record">
                                <mat-icon>{{ expandedRecord === record ? 'expand_less' : 'expand_more' }}</mat-icon>
                              </button>
                            </ng-container>
                            <ng-container *ngSwitchDefault>
                              {{ record[column] }}
                            </ng-container>
                          </ng-container>
                        </td>
                      </ng-container>

                      <!-- Normal row -->
                      <tr mat-header-row *matHeaderRowDef="displayedMedicalRecordColumns"></tr>
                      <tr mat-row *matRowDef="let record; columns: displayedMedicalRecordColumns"></tr>

                      <!-- Expanded row for prescriptions -->
                      <tr mat-row *matRowDef="let record; columns: ['expandedDetail']" class="expanded-row"
                          [class.hidden]="expandedRecord !== record"></tr>

                      <!-- Expanded row for visits -->
                      <tr mat-row *matRowDef="let record; columns: ['expandedVisitDetail']" class="expanded-row"
                          [class.hidden]="expandedRecord !== record"></tr>

                      <tr mat-row *matRowDef="let record; columns:['expandedInvoiceDetail'] " class="expanded-row"
                             [class.hidden]="expandedRecord !== record" ></tr>
                      <!-- Extra column to hold prescription table -->
                      <ng-container matColumnDef="expandedDetail">
                        <td mat-cell *matCellDef="let record" [attr.colspan]="displayedMedicalRecordColumns.length">
                          <div *ngIf="record.prescriptions?.length">
                            <table mat-table [dataSource]="record.prescriptions" class="prescription-table mat-elevation-z0">

                              <!-- Prescription columns -->
                              <ng-container *ngFor="let pCol of displayedPrescriptionColumns" [matColumnDef]="pCol">
                                <th mat-header-cell *matHeaderCellDef>{{ columnLabels[pCol] || pCol }}</th>
                                <td mat-cell *matCellDef="let prescription">
                                  {{ prescription[pCol] }}
                                </td>
                              </ng-container>

                              <tr mat-header-row *matHeaderRowDef="displayedPrescriptionColumns"></tr>
                              <tr mat-row *matRowDef="let prescription; columns: displayedPrescriptionColumns"></tr>
                            </table>
                          </div>
                          <div *ngIf="!record.prescriptions?.length">
                            <em>No prescriptions available</em>
                          </div>
                        </td>
                      </ng-container>

                      <ng-container matColumnDef="expandedVisitDetail">
                        <td mat-cell *matCellDef="let record" [attr.colspan]="displayedMedicalRecordColumns.length">
                          <div *ngIf="record.visits?.length">
                            <table mat-table [dataSource]="record.visits" class="prescription-table mat-elevation-z1">

                              <ng-container *ngFor="let vCol of displayedVisitsColumns" [matColumnDef]="vCol">
                                <!--  Visits -->
                                <th mat-header-cell *matHeaderCellDef>
                                    
                                  <ng-container *ngIf="vCol === 'actions'; else normalHeader">
                                    <button mat-icon-button color="primary" (click)="openCreateVisitDialog(record)">
                                      <mat-icon>add</mat-icon>
                                    </button>
                                  </ng-container>
                                  <ng-template  #normalHeader>
                                      {{ columnLabels[vCol] || vCol }}
                                  </ng-template>                                
                                </th>
                                <td mat-cell *matCellDef="let visit">
                                  <ng-container [ngSwitch]="vCol">
                                    <ng-container *ngSwitchCase="'actions'">
                                      <button mat-icon-button color="primary" >
                                        <mat-icon>visibility</mat-icon>
                                      </button>
                                      <button mat-icon-button color="accent" (click)="openUpdateVisitDialog(record,visit)" >
                                        <mat-icon>edit</mat-icon>
                                      </button>
                                      <button mat-icon-button color="warn" (click)="openDeleteVistiDialog(visit.id)" >
                                        <mat-icon>delete</mat-icon>
                                      </button>
                                    </ng-container>
                                    <ng-container *ngSwitchDefault>
                                      {{ visit[vCol] }}
                                    </ng-container>
                                  </ng-container>
                                </td>
                              </ng-container>

                              <tr mat-header-row *matHeaderRowDef="displayedVisitsColumns"></tr>
                              <tr mat-row *matRowDef="let visit; columns: displayedVisitsColumns"></tr>
                            </table>
                          </div>
                          <div *ngIf="!record.visits?.length" class="no-data-container">
                            <em>No visits recorded</em>

                            <div class="create-visit-cta">
                              <p>Do you want to create a new visit?</p>
                              <button mat-raised-button color="primary" (click)="openCreateVisitDialog(record)">
                                <mat-icon>add</mat-icon>
                                Create Visit
                              </button>
                            </div>
                          </div>

                        </td>
                      </ng-container>

                      <ng-container matColumnDef="expandedInvoiceDetail">
                        <td mat-cell *matCellDef="let record" [attr.colspan]="displayedMedicalRecordColumns.length">
                          <!-- ✅ If there are invoices -->
                          <ng-container *ngIf="record.invoice?.length; else noInvoices">
                            <table mat-table [dataSource]="record.invoice" class="prescription-table mat-elevation-z1" multiTemplateDataRows>

                              <!-- ✅ Invoice Columns -->
                              <ng-container *ngFor="let invCol of displayedInvoiceColumns" [matColumnDef]="invCol">

                                <!-- sino1-->
                                <th mat-header-cell *matHeaderCellDef>  {{ columnLabels[invCol] || invCol}}</th>
                                <td mat-cell *matCellDef="let invoice">
                                  <ng-container [ngSwitch]="invCol">
                                    <!-- ✅ Toggle button in 'payments' column -->
                                    <ng-container *ngSwitchCase="'payments'">
                                      <button mat-icon-button (click)="toggleExpandedPayment(invoice)">
                                        <mat-icon>{{ invoice.showPayments ? 'expand_less' : 'expand_more' }}</mat-icon>
                                      </button>
                                    </ng-container>

                                    <!-- ✅ Normal cell -->
                                    <ng-container *ngSwitchDefault>
                                      {{ invoice[invCol] }}
                                    </ng-container>
                                    
                                  </ng-container>
                                </td>
                              </ng-container>

                              <!-- ✅ Normal header and row -->
                              <tr mat-header-row *matHeaderRowDef="displayedInvoiceColumns"></tr>
                              <tr mat-row *matRowDef="let invoice; columns: displayedInvoiceColumns"></tr>

                              <!-- ✅ Payments expanded row with WHEN condition -->
                              <tr mat-row *matRowDef="let invoice; columns: ['expandedPaymDetail']; when: isExpandedPayment"></tr>

                              <!-- ✅ Expanded Payment Column -->
                              <ng-container matColumnDef="expandedPaymDetail">
                                <td mat-cell *matCellDef="let invoice" [attr.colspan]="displayedInvoiceColumns.length">
                                  <table mat-table [dataSource]="invoice.payments" class="payments-table mat-elevation-z1" multiTemplateDataRows>
                                    <!-- Payment columns -->
                                    <ng-container *ngFor="let payCol of displayedPaymentColumns" [matColumnDef]="payCol">
                                      <th mat-header-cell *matHeaderCellDef>{{ payCol }}</th>
                                      <td mat-cell *matCellDef="let payment">{{ payment[payCol] }}</td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="displayedPaymentColumns"></tr>
                                    <tr mat-row *matRowDef="let payment; columns: displayedPaymentColumns"></tr>
                                  </table>
                                </td>
                              </ng-container>
                            </table>
                          </ng-container>

                          <!-- ✅ No invoices fallback -->
                          <ng-template #noInvoices>
                            <div class="no-data-container">
                              <em>No invoices created yet</em>
                            </div>
                          </ng-template>

                        </td>
                      </ng-container>

                     
                    </table>
                    </div>

                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedPatientColumns"></tr>
                <tr mat-row *matRowDef="let patient; columns:displayedPatientColumns"   class="patient-row"
           
                
                
                ></tr>
                <tr mat-row class="full-width-table" *matRowDef="let row; columns: ['detailsAppointment']" [class.hidden]="isPatientVisible(row)"></tr>
                <tr mat-row class="full-width-table"  *matRowDef="let row; columns: ['detailsMatRecord']"  [class.hidden]="isPatientVisible(row)"></tr>
            </table>
        </div>
            <mat-paginator class="paginator"
                #paginator 
                [length]="totalPatientItem"
                [pageIndex]="currentPatientPage - 1"
                [pageSize]="itemsPatientPerPage"
                [pageSizeOptions]="[1, 5, 10, 20]"
                aria-label="Select page"
                (page)="onPageChange($event)"
                >
            </mat-paginator>
  
    </div>
</div>